/* 
==================================================================================
==================================================================================
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
==================================================================================
==================================================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
==================================================================================
==================================================================================
Box Model
==================================================================================
==================================================================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* File Content
=================================================================================
=================================================================================
# Base
  – normalize
  – layout
  – typography
=================================================================================
=================================================================================
*/


/* 
=================================================================================
=================================================================================
 hero
=================================================================================
=================================================================================
*/

.hero {
	background-color: aquamarine;
	width: 100%;
	height: 645px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* 
=================================================================================
=================================================================================
 aft_hr
=================================================================================
=================================================================================
*/

.domain {
	background-color: azure;
	width:88%;
	margin: 0 auto;
	height: 623px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.domain_cont {
	background-color: yellowgreen;
	width: 99.1%;
	height: 423px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.domain_hd {
	background-color: tomato;
	width: 100%;
	height: 137px;
}

.domain_main {
	background-color: blanchedalmond;
	width: 100%;
	height: 286px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.dom {
	background-color: bisque;
	width: 30.5%;
	height: 286px;
	margin-right: 15px;
	margin-left: 15px;

}


/* 
=================================================================================
=================================================================================
 services
=================================================================================
=================================================================================
*/

.services {
	background-color: burlywood;
	width: 100%;
	height: 1105px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services_cont {
	background-color: thistle;
	width: 88%;
	height: 905px;
	display: flex;
}

.services_left {
	background-color: cadetblue;
	width: 48%;
	height: 905px;
	margin: 0 15px;
}

.services_right {
	background-color: chartreuse;
	width: 48%;
	height: 905px;
	margin: 0 15px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.right_hd {
	background-color: chocolate;
	width: 100%;
	height: 270px;
}

.right_main {
	background-color: coral;
	width: 100%;
	height: 120px;
}


/* 
=================================================================================
=================================================================================
 privacy
=================================================================================
=================================================================================
*/

.Privacy {
	background-color: cornflowerblue;
	width: 100%;
	margin: 0 auto;
	height: 581px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.priv_cont {
	background-color: darkcyan;
	width: 88%;
	height: 570px;
}

.priv_bd {
	width: 88%;
	height: 541;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.priv_main {
	background-color: darkgrey;
	width: 48%;
	height: 514px;
	margin: 0 15px;
}


/* 
=================================================================================
=================================================================================
 help
=================================================================================
=================================================================================
*/

.help {
	background-color: darkgreen;
	width: 100%;
	height: 647px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.help_cont {
	background-color: teal;
	width: 88%;
	height: 447px;
	padding: 15px 0;
}

.help_body {
	background-color: darkkhaki;
	width: 100%;
	height: 330px;
	display: flex;
	justify-content: space-between;
}

.help_main {
	background-color: darkmagenta;
	width: 32%;
	height: 330px;
} 


/* 
=================================================================================
=================================================================================
 quest
=================================================================================
=================================================================================
*/

.quest {
	background-color: darkolivegreen;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.quest_cont {
	background-color: springgreen;
	width: 88%;
	height: auto;
}

.quest_bd {
	background-color: darkorange;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.quest_main {
	background-color: gold;
	width: 100%;
	height: auto;
	margin: 10px 0px;
}


/* 
=================================================================================
=================================================================================
aft _quest
=================================================================================
=================================================================================
*/

.aft_quest {
	background-color: yellowgreen;
	width: 85%;
	margin: 0 auto;
	height: 220px;
}


/* 
=================================================================================
=================================================================================
 Typography
=================================================================================
=================================================================================
*/


/* 
=================================================================================
=================================================================================
 general
=================================================================================
=================================================================================
*/


h1 p {
	font-size: 75px;
	line-height: 80px;
	font-weight: 900;
}

h2 p {
	font-size: 48px;
	line-height: 55px;
	font-weight: 900;
}
h3 p {
	font-size: 26px;
	line-height: 26px;
	font-weight: 700;
}

h4 p {
	font-size: 22px;
	line-height: 27px;
	font-weight: 300;
}

/* h5 p {
	font-size: ;
	line-height: ;
	font-weight: ;
} */

h6 p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}