/* 
==================================================================================
==================================================================================
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
==================================================================================
==================================================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
==================================================================================
==================================================================================
Box Model
==================================================================================
==================================================================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* File Content
==================================================================================
==================================================================================
# Modules
  – header
  – footer
==================================================================================
==================================================================================
*/


/* 
=================================================================================
=================================================================================
header
=================================================================================
=================================================================================
*/

.head_pre {
	background-color: antiquewhite;
	width: 100%;
	height: 43px;
}

.head_pre_cont {
	background-color: antiquewhite;
	display: flex;
	margin-left: 60px;
}

.head_logo {
	background-color: aqua;
	width: 86px;
	height: 43px;
}

.head_link {
	background-color: aquamarine;
	width: 133px;
	height: 43px;
}

.head_main {
	background-color: aqua;
	width: 85%;
	height: 80px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head_main_cont {
	background-color: cadetblue;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.head_logo_2 {
	background-color: wheat;
	width: 14.8%;
}


/* 
=================================================================================
=================================================================================
footer
=================================================================================
=================================================================================
*/

footer {
	background-color: tomato;
	width: 100%;
	height: 745px;
	display: flex;
}

.footer_left {
	background-color: steelblue;
	width: 34%;
	height: inherit;
}

.footer_right {
	background-color: teal;
	width: 66%;
	height: inherit;
}

.footer_cont {
	background-color: yellowgreen;
	width: 74.3%;
	height: 680px;
	margin: 50px 15px 15px 50px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.footer_pre {
	background-color: antiquewhite;
	width: 100%;
	height: 79px;
}

.footer_col_3 {
	background-color: turquoise;
	width: 100%;
	height: 35px;
}

.footer_col_4 {
	background-color: rgb(82, 128, 123);
	width: 100%;
	height: 58.4px;
}

.footer_div {
	background-color: wheat;
	height: 300px;
}